
.linkColor1{
    color:#5248DD;
}
.linkColor2{
    color: #4F58D8;
}

.commonForm-container{
    background-color: #fff;
    display: flex;
    justify-content: center;align-items: center;
    width: 100%;
    height: 100vh;
    padding: 40px 20px;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.commonFormWrapper{
    width: 100%;
    max-width: 1280px;
    margin: auto;
    box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fff;
}

.commonForm-left{
    background-color: #F2F3FF;
    padding: 59px 39px 24px;
}
.commonForm-right{
    padding: 64px 48px ;
}
.formtop{
    margin-bottom: 32px;
}
.formtop h1{
    font-size: 45px;
    font-weight: 700;
}

/* form css  */


.commonFormWrapper .commonForm-form .form-control {
    padding: 12px 15px;
    border-radius: 10px;
    border: 2px solid #eee;
    transition: all 0.3s ease;
}

.input-group-text {
    border: none;
    background: transparent;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    color: #666;
}

.input-group {
    position: relative;
}

.btn-login {
    padding: 12px 20px;
    background: #434CF4;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    width: 100%;
    transition: all 0.3s ease;
}

.btn-login:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 98, 204, 0.3);
}

.social-login {
    display: flex;
    gap: 10px;
    margin-top: 24px;
    justify-content: center;
}

.btn-social {
    flex: 1;
    padding: 12px;
    border-radius: 10px;
    border: 2px solid #eee;
    transition: all 0.3s ease;
    max-width: fit-content;
}

.btn-social:hover {
    background: #f8f9fa;
    transform: translateY(-2px);
}

.btn-social i {
    margin-right: 10px;
}

.divider {
    text-align: center;
    margin: 24px 0 ;
    position: relative;
}

.divider::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background: #C7C7CC80;
}

.divider span {
    background: white;
    padding: 0 16px;
    color: #666;
    font-size: 0.9rem;
    position: relative;
    z-index: 1;
}

.commonForm-form label {
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 1;
}

.commonForm-form input::placeholder{
    color: #B0B0B0;
    font-size: 16px;
}

.form-check {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    padding: 0;
}

.inpCheckWrap{
    display: flex;
    align-items: center;
    gap: 7px;
}
.inpCheckWrap .form-check-input,
.inpCheckWrap .form-check-label{
    float: none;
    margin: 0;
}
.password-toggle {
    cursor: pointer;
}

.register-link {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
}
.inpCheckWrap input:checked {
    box-shadow: none;
    position: relative;
    background-color: #4F58D8;
    border-color: #4F58D8;
}
.inpCheckWrap input:checked::before {
    content: "";
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    border: 1px solid #4F58D8;
    position: absolute;
    top: -3px;
    left: -3px;
    border-radius: 4px;
}
.form-check-input:focus {
    border-color: #4F58D8;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(79, 88, 216, 0.25);
}
.forgotPassWrap .formtop h1{
    margin-top: 75px;
}


